.columns{
    display: flex;
    justify-content: space-evenly;
}
.column__name{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.task{
    width: 300px;
    height: 100px;
    padding-left: 5%;
    padding: 5%;
    padding-bottom: 5%;
    border-radius: 2%;
    margin-bottom: 10%;
    position: relative;
}
hr{
    margin-bottom: 10%;
}